<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
  <form (ngSubmit)="login()"  >
    <div class="login-box">
    <ion-item>
      <ion-label color="primary" floating>Email</ion-label>
      <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="loginCredentials.email" ></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="primary" floating>Password</ion-label>
        <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="loginCredentials.password" ></ion-input>
    </ion-item>

    <button ion-button block>Login</button>
  </div>
</form>


</ion-content>
