<!--
  Generated template for the CreateProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <!-- <button ion-button icon-only color="royal" (click)="goBack()">
        <ion-icon name="back" ></ion-icon>
      </button> -->
    </ion-buttons>
    <ion-title>Create New Project</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form (ngSubmit)="createProject()"  >

    <div class="create-project-box">
      <ion-item>
        <ion-label color="primary" stacked >New Project</ion-label>
        <ion-input type="text" placeholder="Project Name Input" name="name" [(ngModel)]="newProject.name" required></ion-input>
      </ion-item>
    </div>

    <ion-fab right bottom>
     <button ion-fab><ion-icon name="add"></ion-icon></button>
   </ion-fab>
  </form>
</ion-content>
