<!--
  Generated template for the ProjectsListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton="true">
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>{{title}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="onNewProject()">
        <ion-icon name="add" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <button ion-item *ngFor="let project of projects" (click)="onClick($event, project)">
        <ion-label> <p> {{project.title}} </p> </ion-label>
    </button>

  </ion-list>
</ion-content>
